#register-form{
  background: #eee;
  
  .errors{
    width: 400px;
    margin: 0 auto;
    padding: 5px 0 0 0;
    color: #a00;
    font-size: 12px;
  }

  form{
    width: 400px;
    padding: 20px;
    margin: 0 auto;

    .row{
      margin: 0 0 10px 0;

      span{
        display: inline-block;
        width: 80px;
      }
      .radio_title{
        display: inline-block;
        margin: 0 15px 0 0;
      }
      input[type="radio"]{
        margin: 0 6px 0 0;
      }
      #submit{
        display: block;
        padding: 6px 20px;
        width:120px;
        margin: 0 auto;
        color: #fff;
        background: #73a770;
        border: 1px #478254 solid;
        border-radius: 3px;
      }
    }
  } 
}

#login-form{
  margin: 0 auto;
  background: #eee;

  form{
    width: 400px;
    padding: 20px;
    margin: 0 auto;
  
    .row{
      margin: 0 0 10px 0;

      span{
        display: inline-block;
        width: 80px;
      }
      
      #submit{
        display: block;
        padding: 6px 20px;
        width:120px;
        margin: 0 auto;
        color: #fff;
        background: #73a770;
        border: 1px #478254 solid;
        border-radius: 3px;
      }
    }
  }
}
input[type="text"],input[type="password"]{
  height: 28px;
  padding: 0 6px;
  border: 1px #aaa solid;
  border-radius: 3px;
  outline: none;
  background: #f3f3f3;
  transition: all .3s ease;

  &:focus{
    border: 1px #0a0 solid;
    background: #fff;
  }
}
#form-title{
  width: 400px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  font-size: 24px;
  color: #73a770;
}
