extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/join-activity.css')

block content
  div#join
    h2 Activities list
    div.single-activity
      a.title(href="###") Centennial Park plogging
      p.info Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
    div.single-activity      
    div.single-activity


