extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/join-activity.css')

block content
  div#join
    div.single-activity
      a.title
      div.info-box
        div.date
          i
          span 15/09/2018
        div.location
          i
          span ultimo
        div.quota
          i
          span 15/20


