doctype html
html
  head
    title= 'Plogging Sydney'
    link(rel='stylesheet', href='/stylesheets/base.css')
    block stylesheets
  body
    nav
      ul
        li 
          a(href="/")
            span Home
        li 
          a(href="join-activity")
            span Join Activites
        li 
          a(href="moments")
            span Moments
        li 
          a(href="honor-wall")
            span Honor Wall
        li 
          a(href="about-us")
            span About us
    block content

  footer
    h2 contact
    form
      textarea
