extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/users.css')

block content
  #register_form
    h2 Sign Up
    form(method="post" action="/users/register")
      .row
        span name
        input(type="text" name="name")
      .row
        span gender
        input(type="radio" name="gender" value="male")
        p.radio_title male
        input(type="radio" name="gender" value="female")
        p.radio_title femal
      .row
        span email
        input(type="text" name="email")
      .row
        span password
        input(type="password" name="password")
      .row
        input(id="submit" type="submit" value="submit!")
