extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/users.css')

block content
  #register_form
    form(method="post" action="/users/register")
      .row
        span name
        input(type="text" name="name")
      .row
        span gender
        input(type="text" name="gender")
      .row
        span email
        input(type="text" name="email")
      .row
        span password
        input(type="password" name="password")
      .row
        input(id="submit" type="submit" value="submit!")
