/* line 1, ../sass/base.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-family: "urw-din-semi-condensed", Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  outline: none;
}

/* line 12, ../sass/base.scss */
.clear {
  clear: both;
}

/* line 15, ../sass/base.scss */
nav {
  height: 80px;
}
/* line 18, ../sass/base.scss */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 80px;
}
/* line 24, ../sass/base.scss */
nav ul li {
  margin: 0 40px;
}
/* line 27, ../sass/base.scss */
nav ul li a {
  overflow: hidden;
}
/* line 30, ../sass/base.scss */
nav ul li a span {
  display: block;
  color: #999;
  font-size: 14px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  transition: color .3s;
}
/* line 40, ../sass/base.scss */
nav ul li a:hover span {
  color: #339966;
}
/* line 47, ../sass/base.scss */
nav #login {
  margin: 0 0 0 50px;
}
/* line 49, ../sass/base.scss */
nav #login a {
  font-size: 12px;
  color: #666;
  padding: 0 3px;
}

/* line 57, ../sass/base.scss */
footer {
  padding: 20px;
  background: #333;
}
/* line 61, ../sass/base.scss */
footer #footer_inner {
  width: 1000px;
  margin: 0 auto;
}
/* line 65, ../sass/base.scss */
footer #footer_inner #contact_form {
  float: right;
}
/* line 68, ../sass/base.scss */
footer #footer_inner #contact_form h2 {
  color: #aaa;
  margin: 0 0 10px 0;
}
/* line 73, ../sass/base.scss */
footer #footer_inner #contact_form form textarea {
  padding: 10px;
  border: 1px #ccc solid;
  border-radius: 3px;
  width: 300px;
  height: 110px;
  font-size: 12px;
  resize: none;
}
