/* line 1, ../sass/home.scss */
#section1 {
  position: relative;
  height: 600px;
  background: url("../images/home-bg.mp4");
  background-size: cover;
  overflow: hidden;
}

/* line 8, ../sass/home.scss */
h1 {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 5;
  margin: 0 0 0 -251px;
  width: 503px;
  height: 155px;
  text-indent: -9999px;
  background: url("../images/plogging-title.png") center center no-repeat;
}

/* line 19, ../sass/home.scss */
#arrow {
  position: absolute;
  left: 50%;
  bottom: 20px;
  z-index: 1;
  margin: 0 0 0 -20px;
  width: 40px;
  height: 50px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px #666;
  background: url(../images/arrow.png) center bottom no-repeat;
  background-size: contain;
  animation: arrow 1s infinite ease;
}

@keyframes arrow {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(5px);
    opacity: 1;
  }
}
/* line 38, ../sass/home.scss */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .25;
}

/* line 48, ../sass/home.scss */
.video-bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  min-width: 100%;
}

/* line 56, ../sass/home.scss */
#section2 {
  padding: 80px 40px;
}
/* line 59, ../sass/home.scss */
#section2 .avatar {
  float: left;
  width: 300px;
  margin: 0 40px 0 0;
}
/* line 64, ../sass/home.scss */
#section2 .avatar img {
  width: 100%;
}
/* line 69, ../sass/home.scss */
#section2 .info {
  float: left;
  width: 400px;
}
/* line 73, ../sass/home.scss */
#section2 .info h2 {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 16px;
}
/* line 78, ../sass/home.scss */
#section2 .info p {
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 12px;
  color: #999;
}
